.logoDiv img{
    height: 300px;
}

.logoDiv{
    margin: 20px 32px 0px 32px;
    text-align: justify;
}

form{
    padding-left: 40px;
    margin: 0px 32px 20px 32px;
    display: inline-block;
    text-align: center;
}

form input{
    box-sizing: border-box;
    border: 2px solid rgb(209, 169, 142);
    height: 34px;
    background-color: rgb(228,227,218);
    resize: none;
    border-radius: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#searchField{
    position: absolute;
    left: 35%;
    width: 30%;
    border-radius: 24px;
}

#searchField:focus, .advSearchLine input:focus{
    outline: 1px solid rgba(220, 20, 60,0.25);
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background: rgb(228,227,218);
    background: linear-gradient(90deg, rgba(228,227,218,1) 0%, rgba(228,179,130,1) 69%, rgba(232,149,71,1) 100%);
}

.mainDiv{
    padding-left: 16%;
    margin-top: 0px;
    margin-left: 21%;
    margin-right: 22%;
    border: 3px solid rgba(214, 203, 51, 0.08);
    border-radius: 11px;
    background: rgb(187, 186, 174);
    background: linear-gradient(90deg, rgba(187, 186, 174, 0.2) 6%, rgba(196, 180, 164, 0.25) 73%, rgba(203, 214, 139,0.4) 100%);
}

.navDiv{
    top: 32px; 
    position: absolute;
    right: 48px;  
}

.navDiv a{
    text-decoration: none;
    color: rgb(36, 33, 33);
    font-size: 22px;
    padding: 2px 5px 2px 5px;
    border: 2px solid rgba(209, 169, 142,0.2);
    border-radius: 6px;
    background-color: rgba(228,179,130,0.45);
}

.navDiv a:hover{
    border: 2px solid rgb(228,179,130);
    background-color: rgb(223, 184, 159);
    transition: 1.2s;
}

h1{
    font-size: 52px;
    font-weight: bold;
    color:azure;
    text-align: center;
    padding-top: 100px;
}

.advSearchDiv{
    display: block;
    width: 100%;
    padding: 20px 0px 0px;
}

.advSearchLine{
    display: flex;
    margin: 2px 0px 2px;
    /*border: 1px solid rgba(0,0,0,0.4);
    */
}


.advName{
    text-align: left;
}

.advSearchLine input{
    width: 50%;
    border-radius: 1px;
    height: 28px;
    position: fixed;
    left: 20%;
    margin-top: 12px;
}

.advExamp{
    float: right;
    position: fixed;
    left: 70%;
    text-align: left;
    margin-left: 30px;
    margin-right: 20px;
}

.advSearchHeaders{
    display: flex;
}

.advSearchHeaders h2{
    text-align: left;
}

.advSearchHeaders h3{
    position: fixed;
    right: 12%;
    color: rgb(36, 33, 33);
}

#advSearchButton{
    position: fixed;
    left: 65%;
    width: 5%;
}
